<section>
    <div class="bg-dark text-secondary px-4 py-5 text-right" style="border-radius: 10px; text-align: right;">
        <button type="button" class="btn btn-outline-right btn-lg px-4"
            style="width: 32px;height: 32px; background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center;"
            (click)="delete()"></button>
        <div class="bg-dark text-secondary px-4 py-5 text-center" style="border-radius: 10px;">
            <div>
                <p class="display-5 fw-bold text-white">{{comment.body}}</p>
                <p>Дата изменения: {{comment.updateAt|date}}</p>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-light btn-lg px-4" (click)="update()">Редактировать</button>
            </div>
        </div>
    </div>
</section>