<div class="container-fluid">
    <div class="bg-dark text-secondary px-2 py-2 my-3 text-center container-fluid "
        style="border-radius: 10px">
        <button type="button" class="btn btn-warning me-10" [routerLink]="['/news/new']">Создать новую новость</button>
    </div>
</div>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of userList">
            <app-user-shower [user]="user" (editEvent)="update($event)" (deleteEvent)="delete($event)"></app-user-shower>
        </li>
    </ul>
</div>