<div class="bg-dark text-secondary px-4 py-5 my-5 container-fluid " style="width:70%; border-radius: 40px">
    <label class="fs-5 mb-4 my-4 text-white">Заголовок</label>
    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="news.head" style="width:50%; position: relative;" />
    <label class="fs-5 mb-4 my-4 text-white text-align">Содержимое новости</label>
    <textarea class="form-control" name="description" [(ngModel)]="news.body" style="width:70%; height:300px;" ></textarea>
    <br>
    <button type="button" class="btn btn-outline-light btn-lg px-4" (click)="save()">Сохранить</button>
</div>
